:root {
  --color-background: linear-gradient(17.22deg, #0d1a26 29.8%, #263f73 94.72%);
  --color-background-secondary: linear-gradient(
    180deg,
    #f5f6f7 57.59%,
    rgba(245, 246, 247, 0.850781) 100%,
    rgba(243, 244, 245, 0.85) 100%
  );

  --color-primary-lighter: #9871f5;
  --color-primary-light: #916bea;
  --color-primary: #8257e5;
  --color-primary-dark: #774dd6;
  --color-primary-darker: #6842c2;
  --color-secondary: #e8f7e1;
  --color-secondary-dark: #bbd9ad;
  --color-tertiary: #eda67e;
  --color-tertiary-dark: #ed8c55;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #bdd0db;
  --color-text-title: #fff;
  --color-text-complement: #e1e2e3;
  --color-text-base: #6a6180;
  --color-line-in-white: #dce4f2;
  --color-box-base: #ffffff;
  --color-nav: rgba(31, 13, 13, 0.04);
  font-size: 60%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(252.01deg, #78cfde 0.28%, #78cfde 0.29%, #45818e 86.8%), #ffffff;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.App {
  min-width: 100vw;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
