.title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 3rem;
  line-height: 37px;
  font-style: normal;
  color: var(--color-title-in-primary);
}
.bordaLateral {
  border-left: 3px solid var(--color-title-in-primary);
  padding-left: 3rem;
}
.subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-in-primary);
}

@media (min-width: 700px) {
  .title {
    font-size: 7rem;
    line-height: 7.6rem;
  }
  .bordaLateral {
    border-left: 5px solid var(--color-title-in-primary);
  }
  .subtitle {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
