.title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 3rem;
  line-height: 37px;
  font-style: normal;
  color: var(--color-title-in-primary);
}
.bordaLateral {
  border-left: 3px solid var(--color-title-in-primary);
  padding-left: 3rem;
}
.subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-in-primary);
}
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
}
.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  margin-right: 1.6rem;
  font: 700 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons-container a:first-child {
  margin-right: 1.6rem;
}
.buttons-container a image {
  width: 4rem;
}
@media (min-width: 700px) {
  .title {
    font-size: 7rem;
    line-height: 7.6rem;
  }
  .bordaLateral {
    border-left: 5px solid var(--color-title-in-primary);
  }
  .subtitle {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
